<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="test/bootstrap.php"
         colors="true"
         failOnWarning="false"
         failOnRisky="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         >

    <testsuites>
        <testsuite name="Propel Test Suite">
            <directory>test/testsuite</directory>
        </testsuite>
    </testsuites>

</phpunit>
